@import "../colors";
@import "../break-points";

@panel-horiz-padding: 4rem;
@panel-vert-padding:  2rem;
@panel-border-width:  1rem;

.panel {
  width:      100%;
  box-sizing: border-box;
  padding:    @panel-vert-padding @panel-horiz-padding;

  @media @only-small { padding: 2rem; }
}

.panel--deprecated {
  position:         relative;
  padding:          2rem 4rem;
  border-left:      @panel-border-width solid desaturate(@error-red, 10%);
  background-color: lighten(@error-red, 10%);
  color: @light;
}

.panel--category {
  position:         relative;
  padding:          .5rem 4rem 2rem;
  border-left:      @panel-border-width solid desaturate(@jaffa, 10%);
  background-color: lighten(@jaffa, 10%);
}

.panel--table-control {
  padding-top:      .5rem;
  border-left:      @panel-border-width solid desaturate(@caribbean, 10%);
  background-color: lighten(@caribbean, 10%);
}

.panel--topic-body {
  background-color: @light;
  border-bottom:    1px solid @topic-body-border-color;
  padding-top: 0;
}

.panel--topic-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;

  @media @only-small {
    flex-wrap: wrap;
    padding: 2rem;
  }
}

.panel--reply-list-header {
  background-color: @topic-reply-list-header-bg;
}

.panel--topic-reply-list {
  background-color: @topic-reply-list-header-bg;
  @media @only-small { padding: 2rem; }
}

.panel--forum-follow-area {
  background-color: @light;
  border-bottom: 1px solid @forum-subscribe-area-border;
  padding:    (@panel-vert-padding / 2) @panel-horiz-padding;
  @media @only-small { padding: 1rem; }
}
