@import "~normalize.css";
@import "../../../../public/less/highlight.less";
@import (reference) './colors';
@import (reference) './break-points';
@import (reference) './layout-variables';

.m-cover-screen() { height: 100%; width: 100%; }

html {
  .m-cover-screen();
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  background-color: @main-application-bg-color;
}

body {
  .m-cover-screen();
  font-size: 1.6rem;
}

#app-root, main {
  width: 100%;
  height: 100%;
}

main {
  box-sizing: border-box;
  padding-top: @header-height;
}

//Ugh iOS scrolling
//https://remysharp.com/2012/05/24/issues-with-position-fixed-scrolling-on-ios
.scroller {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

//Generic
@import "./components/container";
@import "./components/panel";
@import "./components/modal";
@import "./components/avatar";
@import "./components/tooltip";

//Buttons
@import "./components/buttons/icon-button";

//Forms
@import "./components/forms/input";
@import "./components/forms/editor";
@import "./components/forms/submit";
@import "./components/forms/select";
@import  "./components/forms/text-type-ahead";
@import "./components/forms/editable-content";

//Text
@import "./components/text/h1";

//Forum specific
@import "./components/forum/deprecated-panel";
@import "./components/forum/category-list";
@import "./components/forum/category-list-item";
@import "./components/forum/table-control";
@import "./components/forum/table-control-button";
@import "./components/forum/topics-table";
@import "./components/forum/topics-table-header";
@import "./components/forum/topics-table-body";
@import "./components/forum/reaction-button";
@import "./components/forum/forum-follow-button";

//Topics specific
@import "./components/topic/create-topic-modal";
@import "./components/topic/topic-header";
@import "./components/topic/topic-body";
@import "./components/topic/topic-reply-editor";
@import "./components/topic/topic-reply-list-header";
@import "./components/topic/topic-reply-list";
@import "./components/topic/topic-reply-list-item";
@import "./components/topic/comment-editor";
@import "./components/topic/feed-item";

@import "./components/search/topics-search";

.only-small {
  display: none;
  @media @only-small { display: initial; }
}

.hide-only-small {
  @media @only-small { display: none; }
}
